.login-container, .register-container, .profile-container, .settings-container, .chat-container {
	max-width: 800px;
	margin: auto;
	padding: 50px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

  /* Adjust the form input sizes */
form input {
	width: 100%;
	padding: 10px;  /* Increase padding for input fields */
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 16px;  /* Increase font size */
}

html, body {
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form div {
	margin-bottom: 10px;
}

form label {
	display: block;
}

form input {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
	box-sizing: border-box;
}

button {
	padding: 12px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
  }

.messages {
	list-style: none;
	padding: 0;
}

.messages li {
	margin: 10px 0;
}
